body {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000;
}

.buttons button {
    font-size: 40px;
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: #5e6eca;
}

#result {
    font-size: 18px;
    margin-top: 20px;
}
